language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

install:
  - composer self-update && composer --version
  - composer global require "fxp/composer-asset-plugin:1.0.0-beta3"
  - composer install

script:
  - php vendor/bin/codecept run